/* 
    Document   : blockbox
    Created on : Mar 1, 2012, 5:33:15 PM
    Author     : Glen
    Description:
        Purpose of the stylesheet follows.
*/


/*=============================================*\
 $Blockbox
\*=============================================*/
.blockbox-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    opacity: 1;
    background: url(img/transparent_gray.png) repeat; /* For browsers that cannot handle transparency */
    background: rgba(15, 15, 15, .9);

     -moz-transition: opacity 0.8s ease-out;
       -o-transition: opacity 0.8s ease-out;
  -webkit-transition: opacity 0.8s ease-out;
      -ms-transition: opacity 0.8s ease-out;
          transition: opacity 0.8s ease-out;
}

.blockbox-mask.closed {
    opacity: 0;
}

.blockbox-container {
    opacity: 1;

     -moz-transition: opacity 0.4s ease-out;
       -o-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
      -ms-transition: opacity 0.4s ease-out;
          transition: opacity 0.4s ease-out;
}

.blockbox-container.closed {
    opacity: 0;
}

.flexbox .blockbox-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;

    display: -ms-box;
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -ms-box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    -ms-box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}

.blockbox-content {
    width: 980px;
}

.no-flexbox .blockbox-content {
    position: fixed;
    z-index: 201;
    left: 50%;
    top: 50%;
    margin-left: -490px;
    margin-top: -225px;
    overflow: hidden;
}

.flexbox .blockbox-content {
    position: relative;
}

.blockbox-status {
    font-size: 16px;
    margin-top: 30px;
}

.blockbox-close {
    position: relative;
    cursor: pointer;
}

.blockbox-close:hover {
    background-color: #0AAAC8;
}

.blockbox-close::before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: 29px;
    width: 56px;
    height: 14px;
    background-color: #0F0F0F;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.blockbox-close:hover::before {
    background-color: #F0F0F0;
}

.blockbox-close::after {
    content: "";
    display: block;
    position: absolute;
    left: 50px;
    top: 29px;
    height: 56px;
    width: 14px;
    background-color: #0F0F0F;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.blockbox-close:hover::after {
    background-color: #F0F0F0;
}