/* https://stackoverflow.com/a/43312314/373422 */

.markdown video {
  width: 100%;
  margin-bottom: 1.5rem;
}

.markdown table {
  margin-bottom: 1.5rem;
}

.text-overflow {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 675px;
    overflow: hidden;
  }
}
