/* https://stackoverflow.com/a/43312314/373422 */

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 0.5em;
}

.markdown video {
  width: 100%;
  margin-bottom: 1.5rem;
}

.markdown table {
  margin-bottom: 1.5rem;
}

.text-overflow {
  display: block;
  margin-bottom: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  white-space: nowrap;
  background-color: hsl(204, 70%, 95%);
  color: hsl(204, 49%, 30%);
  border-radius: 10px;
  font-size: 80%;
}

.tag.tag {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

@media (max-width: 767px) {
  .hero {
    padding: 0 3%;
  }
}
