.container {
  grid-row-gap: 36px;
}

a.project {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

a.project:hover {
  color: #de3d81;
}

.project:active {
  top: 1px;
}

.imageWrapper {
  position: relative;
  transition: transform 240ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  aspect-ratio: 16 / 9;
}

.project:hover .imageWrapper {
  transform: scale(1.025);
}

.inner {
  flex-grow: 1;
  padding: 10px 10px 0 0;
}

@media screen and (min-width: 1024px) {
  .inner {
    padding: 24px 24px 0 0;
  }

  .container {
    grid-row-gap: 48px;
  }
}
