@charset "utf-8";
/* CSS Document */

/*
COLORS:
Olive: 9ace00 (resting menus)(Safari replacement for a7c400)
*/


#globalnav-container {
	background-color:#9ace00;
}


#navmenu {
	background-color: #9ace00;
}

#navmenu li a:link, #navmenu li a:visited {
	background-color: #9ace00;
	border-bottom: 1px solid #9ace00;
}

#navmenu li a:hover {
	background-color: #75a4c7;
}

.checkButton {
	border:2px solid #9ace00;
}

table {
	background: #9ace00;
}
th {
	background: #9ace00;
}