@charset "utf-8";
/* CSS Document */

body, p {
	margin: 0;
	padding: 0;
}
body {
	background-color: #000;
}
p {
	margin: 3px;
}
#endDiv {
	width: 550px;
	background: #141414;
	color: #7BB352;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 10px;
	border: 2px solid #7BB352;
}
#inputDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	background: #141414;
	color: #7BB352;
	border: 2px solid #7BB352;
	padding: 10px;
}
.selectDiv {
	position: absolute;
	margin: 10px 0px 10px 0px;
	padding: 20px 10px 20px 10px;
	width: 400px;
	height: 30px;
	background-color: #141414;
	left: 0px;
	top: 0px;
	border: 2px solid #7BB352;
}