/*=============================================*\
 =About
\*=============================================*/

.about-me-text p:first-of-type {
    margin-top: 0;
}

.infographics > div {
    position: relative;
    margin-right: 145px;
    width: 230px;
}

.infographics > div:last-child {
    margin-right: 0;
}

.infographics h4 .sprite {
    margin-right: 10px;
}

.infographics svg {
    display: block;
}

#svg-usa {
    width: 184px;
    height: 113px;
    margin-top: 40px;
}

#svg-australia {
    width: 126px;
    height: 116px;
    float: right;
}

#ring-brain {
    margin-top: 60px;
    width: 184px;
    height: 183px;
}

#ring-skills {
    margin-top: 60px;
    width: 189px;
    height: 187px;
}

.text-oregon {
    position: absolute;
    left: 75px;
    margin: 0;
    top: 51px;
}

.text-sydney {
    position: absolute;
    top: 302px;
    margin: 0;
    left: 45px;
}