/*=============================================*\
 =Work
\*=============================================*/


.filter-options {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}

.filter-option {
    float: left;
    position: relative;
    padding: 10px 20px;
    color: $white;
    background-color: $lighter-gray;
    border-bottom: 0 solid $orange;
    @include single-transition(all, 0.2s, ease-out);
}

.filter-option::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 50%;
    background: lighten($lighter-gray, 20);
}

.filter-options .filter-option:last-child::before {
    content: none;
}

.filter-options li:hover,
.filter-options li.active {
    cursor: pointer;
    border-bottom-width: 4px;
    padding-bottom: 6px;
}

#grid .item {
    float: left;
    margin: 20px 20px 0 0;
    width: 230px;
    height: 221px;
}

#grid .item-img {
    position: relative;
    z-index: 1;
    width: 230px;
    height: 221px;
    text-align: center;
    overflow: hidden;
}

#grid .item-details-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 230px;
    height: 0px;
    background-color: rgba($lighter-gray, .7);
    overflow: hidden;

    @include single-transition(height, 0.3s, ease-out);
}

#grid .item:hover .item-details-container {
    height: 221px;

    @include transition-timing-function(cubic-bezier(.73,1.89,.45,.4));
}

#grid .item-details {
    padding: 15px 10px;
    opacity: 0;

    @include single-transition(opacity, 0.2s, ease-out, 0.3s);
}

#grid .item:hover .item-details {
    opacity: 1;
}

#grid .item-title a {
    color: $white;
}

#grid .item-title a:hover {
    color: $orange;
    text-decoration: underline;
}

#grid .item-post-excerpt {
    color: #9B9B9B;
}

#grid .item-link {
    position: absolute;
    bottom: 0;
}

#grid .item-link span {
    margin-left: 10px;
    margin-top: -3px;
}