/*=============================================*\
 =Footer
\*=============================================*/
.footer-inside {
    width: 980px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.footer-inside .fb-like {
    margin: auto;
}

.footer-header {
    background-color: $lighter-gray;
    padding: 50px 0;
}

footer .fb-like-box {
    display: block;
    margin: auto;
    width: 292px;
}

.tiles {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 230px;
}

.tiles .tile {
    float: left;
    position: relative;
    margin: 0 2px 2px 0;
    background-color: $lighter-gray;
    color: $dark-gray;
    width: 114px;
    height: 114px;
    overflow: hidden;
    text-align: center;

  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.tiles .tile:nth-child(even) {
    margin-right: 0;
}

.tiles .tile.is-video .sprite {
    margin: 10px auto 5px;
}

.tiles .tile:hover,
.tiles .tile.active {
    cursor: pointer;
    background-color: $orange;
    color: $white;
}

.tiles .tile img {
    max-width: none;
    height: 114px;
}

.tile:not(.is-video):before {
    content: attr(title);
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(45, 45, 45, 0.7);
    font-size: 85%;
    color: $orange;
    opacity: 0;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.tile:not(.is-video):hover:before {
    padding: 45px 0 0;
    height: 100%;
    opacity: 1;
}