/*=============================================*\
 =Header
\*=============================================*/
#container > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    background-color: $dark-gray;
}

#nav {
    width: 980px;
    margin: auto;
}

#nav .logo {
    float: left;
    margin-top: 5px;
    font-size: 20px;
    text-transform: uppercase;
    opacity: 0;

     -moz-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

#nav .logo.visible {
    opacity: 1;
}

#nav .logo img {
    margin-top: -5px;
    margin-right: 5px;
}

#nav .logo strong {
    font-weight: 800;
}

#nav .logo .main-color {
    font-weight: 300;
}

#nav ul {
    float: right;
}

#nav li {
    display: inline;
    list-style: none;
}

#nav li a {
    font-weight: 300;
    font-size: 16px;
    padding: 8px 10px;
    display: block;
    float: left;

     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

#nav li a.in,
#nav li a:hover {
    color: $white;
    background-color: $lighter-gray;
}

#nav .logo a strong {
    color: $white;
}

#nav .logo a:hover strong {
    color: $orange;
}

#nav .logo a .main-color {
    color: $orange;
}

#nav .logo a:hover .main-color {
    color: $white;
}

#nav .nav-view {
    display: none;
    background-color: $dark-gray;
    padding: 7px 0;
}

#nav .sidebar-nav-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 28px;
    border-radius: 3px;
    font-size: 23px;
    background-color: $lighter-gray;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.95) inset;
    text-align: center;
}

#nav .sidebar-nav-button .sprite {
    margin-top: 6px;
}

#nav .nav-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}