.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
.col-1\@sm, .col-2\@sm, .col-3\@sm, .col-4\@sm, .col-5\@sm, .col-6\@sm, .col-7\@sm, .col-8\@sm, .col-9\@sm, .col-10\@sm, .col-11\@sm, .col-12\@sm {
  display: grid;
  grid-column: 1 / -1;
  align-content: start;
}

.col-1 {
  grid-column: auto / span 1;
}
.col-2 {
  grid-column: auto / span 2;
}
.col-3 {
  grid-column: auto / span 3;
}
.col-4 {
  grid-column: auto / span 4;
}
.col-5 {
  grid-column: auto / span 5;
}
.col-6 {
  grid-column: auto / span 6;
}
.col-7 {
  grid-column: auto / span 7;
}
.col-8 {
  grid-column: auto / span 8;
}
.col-9 {
  grid-column: auto / span 9;
}
.col-10 {
  grid-column: auto / span 10;
}
.col-11 {
  grid-column: auto / span 11;
}
.col-12 {
  grid-column: auto / span 12;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

@media (max-width: 767px) {
  .container-full\@xs {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 86%;
    max-width: 1400px;
  }

  .col-1\@sm {
    grid-column: auto / span 1;
  }

  .col-2\@sm {
    grid-column: auto / span 2;
  }

  .col-3\@sm {
    grid-column: auto / span 3;
  }

  .col-4\@sm {
    grid-column: auto / span 4;
  }

  .col-5\@sm {
    grid-column: auto / span 5;
  }

  .col-6\@sm {
    grid-column: auto / span 6;
  }

  .col-7\@sm {
    grid-column: auto / span 7;
  }

  .col-8\@sm {
    grid-column: auto / span 8;
  }

  .col-9\@sm {
    grid-column: auto / span 9;
  }

  .col-10\@sm {
    grid-column: auto / span 10;
  }

  .col-11\@sm {
    grid-column: auto / span 11;
  }

  .col-12\@sm {
    grid-column: auto / span 12;
  }

  .col-start-1\@sm {
    grid-column-start: 1;
  }

  .col-start-2\@sm {
    grid-column-start: 2;
  }

  .col-start-3\@sm {
    grid-column-start: 3;
  }

  .col-start-4\@sm {
    grid-column-start: 4;
  }

  .col-start-5\@sm {
    grid-column-start: 5;
  }

  .col-start-8\@sm {
    grid-column-start: 8;
  }
}

